.main {
    padding: 20px;
}
.popup{
    width: 800px;
    margin-top: 20px;
    border: 1px solid #ccc;
    /* Граница */
    padding: 20px;
    /* Отступы */
    box-sizing: border-box;
    /* Учитываем границы в размерах */
}

.popup__input {
    width: 100%;
    /* Ширина 100% для полей ввода */
    padding: 10px;
    /* Отступы внутри полей */
    margin-bottom: 10px;
    /* Отступ между полями */
    border: 1px solid #ccc;
    /* Граница */
    box-sizing: border-box;
    /* Учитываем границы в размерах */
}

.slider{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}
.slider__item{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.slider__image{
    object-fit: cover;
    height: 310px;
    margin: 0 auto;
}