.main {
    padding: 20px;
}
.dialog {
    position: fixed; /* позицинорование фиксированное */
    top: 0; /* Элемент будет находиться на верхней границе экрана*/
    left: 0; /* Элемент будет находиться на левой границе экрана.*/
    width: 100%;/* Ширина 100% от окна браузера */
    height: 100%;/* Высота 100% от окна браузера */
    background-color: rgba(58, 60, 65, 0.7); /*задаем фон Полупрозрачный с цветом */
}


.popup{ 
    background-color: #ebd1d2;
    position: absolute; 
    top: 50%; /* верхняя часть смещена на 50% высоты родителя*/
    left: 50%;/*левая граница смещена на 50% ширины родителя*/
    transform: translate(-50%, -50%);/* смещаем элемент относите
    width: 800px;
    margin-top: 20px;
    border: 1px solid #ccc;
    /* Граница */
    padding: 20px;
    /* Отступы */
    box-sizing: border-box;
    /* Учитываем границы в размерах */
}

.popup__input {
    width: 100%;
    /* Ширина 100% для полей ввода */
    padding: 10px;
    /* Отступы внутри полей */
    margin-bottom: 10px;
    /* Отступ между полями */
    border: 1px solid #ccc;
    /* Граница */
    box-sizing: border-box;
    /* Учитываем границы в размерах */
}

.slider{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}
.slider__item{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.slider__image{
    object-fit: cover;
    height: 310px;
    margin: 0 auto;
}
.reviews__list{
    text-align: center;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.reviews__item{
    width: 250px;
}
